{% extends 'users/base.html' %}

{% block title %} Add Quiz {% endblock title%}

{% block content %}
<div class="jumbotron bg-light text-left">
  <h1 class="display-4">Welcome, {{ user.first_name|default:'Guest' }}</h1>
  <hr class="my-4">
  <h2 class="mb-4">Add Quiz</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.name.id_for_label }}">Quiz Name:</label>
      {{ form.name }}
    </div>
    <button class="btn btn-primary" type="submit">Add Quiz</button>
  </form>
</div>
{% endblock content %}
